@charset "EUC-KR";


header {
	color: black;
	background-color: white;
	padding: 20px;
}

#aside {
	color: black;
	backgroud-color: white;
	padding: 5px;
	top: 50px;
	width: 100px;
	height: 50px;
}

section {
	background-color: white;
	padding: 20px;
	color: black;
	display: flex;
	flex-direction: row-reverse;
}

footer {
	color: white;
	background-color: greenyellow;
	top: 30px;
}

section>div {
	background-color: blueviolet;
	margin: auto;
	width: 150px;
	height: 70px;
	padding: 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

li {
	display: inline;
	margin: 0 20px 0 0;
}

#home_image{
	width: 1280px;
	height: 800px;
	padding: 10px;
	position: relative;
}

#open_text {
  padding: 10px 20px;
  color: greenyellow;
  text-align: center;
  position: absolute;
  width: 640px;
  left: 1000px;
}

#search {
	background-color: white;
	border-style: dotted;
	border-width: 2px;
	padding: 5px;
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
}

#canvas_section {
	display: block;
}

#canvas {
	background-color: green;
	Leftmargin: 0;
	border: thin inset #aaaaaa;
}